{% include "blog/base.html" %}
{% load i18n %}

{% block content %}
    <div>
        <h3>{% trans "Name: " %} {{ author.name }}</h3>
        <p>{% trans "Email: " %} {{ author.email }}</p>
        <p>{{ author.get_bio }}</p>
        <img width="300px" src="{{ author.profile_image.url }}">
        <br>
        <form method="post" action="{% url 'blogs:delete_author' author.pk %}">
            {% csrf_token %}
            <button type="submit">{% trans "Delete" %}</button>
            <a href="{% url 'blogs:create_author' %}"><h4>{% trans "Create Author" %}</h4></a>
        </form>
    </div>
    <br>
    <br>
    <br>
    {% if blogs %}
        {{ blogs|length }} {% trans "Blog" %}{{ blogs|length|pluralize }}:
        <br/>
        <br/>
        <br/>
        <br/>
        {% for blog in blogs %}
            <div>
                <a href="{{ blog.get_absolute_url }}"><h4>{% trans "Title: " %} {{ blog.get_title }}</h4></a>
            </div>
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        <p>{% trans "0 Blogs" %}</p>
    {% endif %}
{% endblock %}