{% include "blog/base.html" %}
{% load i18n %}

{% block content %}
    {% for magazine in magazines %}
        <div>
            <hr>
            <br>
            <a href="{{ magazine.get_absolute_url }}">
                <p>{{ magazine.get_title }}</p>
            </a>
            <a href="{{ magazine.get_absolute_url }}">
                <p>{% trans "description: " %} {{ magazine.get_description|truncatechars:20 }}</p>
            </a>
            <br>
            <hr>
        </div>
    {% endfor %}
{% endblock %}