{% load l10n %}
{% load humanize %}

<h1>{{ car.publish_date|localize }}</h1>
<h1>{{ car.storage|localize }}</h1>
<h1>{{ car.profit|localize|floatformat }}</h1>
<h1>{{ car.profit|localize|intcomma }}</h1>

<h1>{{ car.publish_date }}</h1>
<h1>{{ car.storage }}</h1>
<h1>{{ car.profit }}</h1>
<h1>{{ car.profit }}</h1>

{% localize on %}
    <h1>{{ car.publish_date }}</h1>
    <h1>{{ car.storage }}</h1>
    <h1>{{ car.profit }}</h1>
{% endlocalize %}

{% localize off %}
    <h1>{{ car.profit}}</h1>
{% endlocalize %}

<p>The current date is {{ car.publish_date|date:"formats.YEAR_MONTH_FORMAT" }}.</p>