{% include "base.html" %}

{% block content %}
    <div>
        <h3>name: {{ author.name }}</h3>
        <p>email: {{ author.email }}</p>
        <p>{{ author.bio }}</p>
        <img width="300px" src="{{ author.profile_image.url }}">
    </div>
    <br>
    <br>
    <br>
    {% if blogs %}
        {{ blogs|length }} Blog{{ blogs|length|pluralize }}:
        <br/>
        <br/>
        <br/>
        <br/>
        {% for blog in blogs %}
            <div>
                <a href="{{ blog.get_absolute_url }}"><h4>Title: {{ blog.title }}</h4></a>
            </div>
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        <p>0 Blogs</p>
    {% endif %}
{% endblock %}