{% include "base.html" %}

{% block content %}
<div>
    <div>
        <img width="300px" src="{{ blog.cover_image.url }}">
    </div>
    <div>
        <h4>Magazine: {{ blog.magazine }}</h4>
        <a href="{{ blog.author.get_absolute_url }}"><h4>Author: {{ blog.author.name|upper }}</h4></a>
        <h4>Title: {{ blog.title }}</h4>
        <h4>Created on: {{ blog.publish_date|date:'F j, Y' }} at {{ blog.publish_date|time:'g:i A' }}</h4>
    </div>
    <div>
        <p>{{ blog.content }}</p>
    </div>
</div>
{% endblock %}