{% include "base.html" %}

{% block content %}
    <div>
        <h3>{{ magazine.title|capfirst }}</h3>
        <p>{{ magazine.description }}</p>
        <p>Created on {{ magazine.publish_date|date:'F j, Y' }} at {{ magazine.publish_date|time:'g:i A' }}</p>
    </div>
    <br>
    <br>
    <br>
    {% if blogs %}
        {{ blogs|length }} Blog{{ blogs|length|pluralize }}:
        <br/>
        <br/>
        <br/>
        <br/>
        {% for blog in blogs %}
            <div>
                <a href="{{ blog.get_absolute_url }}">
                    <img width="222px" src="{{ blog.cover_image.url }}">
                </a>
                <p>Author: {{ blog.author.name|capfirst }}</p>
                <h4>Title: {{ blog.title|capfirst }}</h4>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        <h3>0 blogs... No blogs to display</h3>
    {% endif %}
{% endblock %}